@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.linkbutton {
    background-color: black; /* Achtergrondkleur van de knop */
    border: none; /* Geen rand */
    color: #41ff00; /* Tekstkleur */
    cursor: pointer; /* Cursor verandert naar pointer */
    height: 40px; /* Hoogte van de knop */
    width: 200px; /* Breedte van de knop */
    margin: 5px; /* Marges rondom de knop */
    font-family: 'Source Code Pro', monospace; /* Gebruik het lettertype */
    font-weight: bold; /* Maak de tekst vetgedrukt */
    text-align: center; /* Tekst centreren */
    display: flex; /* Flexbox gebruiken */
    align-items: center; /* Verticaal centreren */
    justify-content: center; /* Horizontaal centreren */
    text-decoration: none; /* Geen onderstreping */
    transition: background-color 0.3s, color 0.3s; /* Voeg een overgangseffect toe */
}

.linkbutton:hover {
    background-color: #41ff00; /* Achtergrondkleur bij hover */
    color: black; /* Tekstkleur bij hover */
}
